<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MihovelDB</title>
    <link rel="stylesheet" href="styles.css"
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script type="text/x-mathjax-config">
MathJax.Hub.Config({
"HTML-CSS": { scale: 200, linebreaks: { automatic: false } },
SVG: { linebreaks: { automatic:false } },
displayAlign: "left" });
</script>

  </head>

  <body>

    <form>
      <!-- Surname-->
      <div id="surname">
        <div class="label">
          <label>Введите фамилию</label>
        </div>
        <input class="input" id="surnameInput" type="text"
         placeholder="Достоевский"> </input>
      </div>

      <!-- Name-->
      <div id="name">
        <div class="label">
          <label>Введите имя</label>
        </div>
        <input class="input" id="nameInput" type="text"
         placeholder="Федор"> </input>
      </div>

      <!-- Phone-->
      <div id="phone">
        <div >
          <label class="label">Введите номер телефона</label>
        </div>
        <input class="input" id="phoneInput" type="text"
         placeholder="+79876543210"> </input>
      </div>

      <!-- Birthday-->
      <div id="birthday">
        <div class="label">
          <label>Введите дату рождения</label>
        </div>
        <input class="input" id="birthdayInput" type="date">
      </div>

      <!-- Job-->
      <div id="job">
        <div class="label">
          <label>Введите должность</label>
        </div>
        <input class="input" id="jobInput" type="text"
         placeholder="Писатель"> </input>
      </div>

      <!-- Relatives-->

      <div id="relatives">
        <div class="label">
          <label>Введите родственников</label>
        </div>
        <input class="input" id="relativeInputID" type="text"
         placeholder="ID1">
        <input class="input" id="relativeLevelInput" type="text"
         placeholder="Отец">
        <button class="" id="deleteRelative">Удалить</button>
        <button class="" id="addRelative">Добавить</button>
      </div>

      <!-- Button-->
      <button class="button" id="commit">Отправить в бд
      </button>

    </form>

</body>
<script>
   // ваш код
$("#addRelative").click(function(event) {
  event.preventDefault();
    var counter = 0;
     $("#relatives").append('<input class="input" id="relativeInputID1" type="text" placeholder="ID1"> </p>');
  });
</script>
</html>
